/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
# Project exclude paths
/king-admin/target/
/king-common/target/
/king-config/target/
/king-eureka/target/
/king-gateway/target/
/king-order/king-order-api/target/
/king-order/king-order-web/target/
/king-product/king-product-api/target/
/king-product/king-product-web/target/
/king-product/target/
/king-auth/king-auth-web/target/
/king-auth/king-auth-api/target/