<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanniwa.king.product.mapper.ProductCategoryMapper">
  <resultMap id="BaseResultMap" type="com.wanniwa.king.product.entity.ProductCategory">
    <!--@mbg.generated generated on Wed May 01 14:16:23 CST 2019.-->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_type" jdbcType="INTEGER" property="categoryType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed May 01 14:16:23 CST 2019.-->
    category_id, category_name, category_type, create_time, update_time
  </sql>


</mapper>